<div class="jumbotron">
    <h1>JMF ASP.NET com atualizações do DB</h1>
    <p class="lead"> Parte 2 do do exemplo simples de API rodando no Azure App Service e acessando SQL Server.</p>
    <p><a href="https://jmfwebapi2021.azurewebsites.net/" class="btn btn-primary btn-lg">Parte 1 &raquo;</a></p>
</div>
<div class="row">
    <h2>API para criação e atualização</h2>
    <p>Esta API cria novos registros, verifica a existência de registros e atualiza registros. Ela usa um acesso diferente da API para consultas.</p>
    <p><a class="btn btn-default" href="https://github.com/JimKirk95/WebAppFrameworkDemo">Github &raquo;</a></p>

    

</div>
