<div class="jumbotron">
    <h1>JMF: Web API SQL Server Update</h1>
    <p class="lead"> Parte 2 do do exemplo de Web API rodando no Azure App Service e acessando SQL Server.</p>
    <p><a href="https://jmfwebapi2021.azurewebsites.net/" class="btn btn-primary btn-lg">Parte 1 (consultas) &raquo;</a></p>
</div>
<div class="row">
    <h2>API para criação, atualização e exclusão de usuários.</h2>
    <p>
        Esta API cria novos registros, atualiza os dados e apaga registros.
        Ela usa um acesso (conta) diferente da API para consultas.
    </p>
    <p><a class="btn btn-default" href="https://github.com/JimKirk95/JMFWebAppUpdtDemo.git">Projeto no Github &raquo;</a></p>
</div>
